@keyframes transition-shadow {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
.body-menu__btn, .proj-body__btn, .proj-prev__btn {
  display: block;
  color: white;
  height: 40px;
  width: 200px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background: linear-gradiant(#9356DC, #FF79DA);
  background-image: linear-gradient(#9356DC, #FF79DA);
}
.body-menu__btn:hover, .proj-body__btn:hover, .proj-prev__btn:hover {
  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2);
  animation: transition-shadow 3s both;
}
.body-menu__btn:hover, .proj-body__btn:hover, .proj-prev__btn:hover {
  animation: transition-buttons 500ms forwards;
}

@keyframes transition-buttons {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}
.meal-cards__card {
  height: 75px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px 0px 0px 10px;
  animation: menus 1000ms backwards;
}
.meal-cards__card--1 {
  animation-delay: 1000ms;
}
.meal-cards__card--2 {
  animation-delay: 2000ms;
}
.meal-cards__card--3 {
  animation-delay: 3000ms;
}
.meal-cards__card--4 {
  animation-delay: 4000ms;
}
.meal-cards__card p {
  margin: 0px;
  padding: 0px;
}

.meal-card__description {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
}

.body-card {
  background-color: white;
  border-radius: 15px;
  margin-bottom: 20px;
}

.proj-summary__btn {
  height: 75px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
  margin-bottom: 10px;
  padding-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
}
.proj-summary__btn span {
  padding-right: 15px;
}
.proj-summary__btn:hover {
  background-color: rgba(147, 86, 220, 0.1);
}
.proj-summary__btn:hover i {
  color: #9356DC;
}

.body-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.card-description__header {
  padding-left: 15px;
}
.card-description__header h3 {
  margin: 0px;
  font-weight: bolder;
}
.card-description__header h3 ~ p {
  margin-top: 0px;
}

.card-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-description__logo, .proj-body__logo {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100px;
}
.card-description__logo span i, .proj-body__logo span i {
  padding: 10px;
  position: absolute;
  font-size: 22px;
}
.card-description__logo .fa-solid, .proj-body__logo .fa-solid {
  opacity: 0;
}
.card-description__logo .fa-regular, .proj-body__logo .fa-regular {
  opacity: 1;
}
.card-description__logo :hover .fa-solid, .proj-body__logo :hover .fa-solid {
  z-index: 100000;
  color: transparent;
  background-clip: text;
  animation: heart 750ms cubic-bezier(0, 0.68, 0.88, 0.64) both;
  transform-origin: bottom;
  display: block;
  background-image: linear-gradient(#9356DC, #FF79DA);
}
.card-description__logo :hover .fa-regular, .proj-body__logo :hover .fa-regular {
  animation: heart-disappear 750ms cubic-bezier(0, 0.68, 0.88, 0.64) both;
}

.proj-body__cards {
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.after-loading {
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100%;
  z-index: 100;
  animation: apparition-body 0ms 3s both;
}

body {
  padding-left: 0px;
  margin: 0px;
}

.header-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  position: relative;
  z-index: 300;
}

.header-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.header-location {
  z-index: 2;
  display: flex;
  background-color: #eaeaea;
  justify-content: center;
  height: 40px;
}
.header-location .header-location__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}
.header-location .header-location__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.proj-prev {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  font-display: auto;
  padding-bottom: 50px;
}

.proj-prev__heading {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.proj-prev__heading h2 {
  text-align: center;
}

.proj-prev__description {
  padding-bottom: 20px;
}
.proj-prev__description p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.proj-summary {
  padding: 15px;
  height: 100%;
}

.proj-summary__step {
  height: 100%;
}

.circle {
  position: absolute;
  height: 25px;
  width: 25px;
  left: 17px;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.proj-summary__btn {
  display: flex;
  justify-content: flex-start;
}
.proj-summary__btn span {
  margin-left: 5px;
}
.proj-summary__btn span i {
  margin-left: 25px;
}

.homePage-body {
  background-color: #f7f7f7;
  padding: 20px 0px 20px 20px;
}

footer {
  background-color: #353535;
  padding: 5px 0px 15px 15px;
}

.content-description {
  display: flex;
  padding-bottom: 5px;
}
.content-description a {
  text-decoration: none;
  color: white;
}
.content-description .content-description__logo {
  padding-right: 10px;
  width: 2%;
}

.header-img {
  z-index: 2;
}
.header-img img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.proj-body {
  position: relative;
  padding: 15px;
  top: -30px;
  z-index: 300;
  border-radius: 30px 30px 0px 0px;
  background-color: white;
}

.header-arrow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 15px;
}

.img-ohmyfood {
  width: 100%;
  display: flex;
  justify-content: center;
}
.img-ohmyfood img {
  width: 50%;
  height: 50%;
}

.arrow {
  padding-left: 15px;
}
.arrow i {
  color: black;
  font-size: 25px;
}

.proj-body__heading {
  display: flex;
  justify-content: space-between;
}
.proj-body__heading .proj-body__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 3%;
}
.proj-body__heading .proj-body__logo i {
  font-size: 25px;
  font-weight: 1px;
}

.proj-body__logo span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.proj-body__cards a {
  color: black;
  text-decoration: none;
}

.proj-button {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
}

.meal-cards__card {
  display: flex;
  overflow: hidden;
  padding-top: 0px;
}

.meal-card__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.meal-card__heading p {
  text-overflow: ellipsis;
  overflow: hidden;
}

.meal-card__description {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 15px;
  width: 30%;
}

.meal-cards__card:hover .meal-card__check {
  margin-right: 0%;
}
.meal-cards__card:hover i {
  animation: rotate-i 1s ease-in-out;
}

.meal-card__check {
  height: 100%;
  width: 30%;
  transform-origin: right;
  background-color: #99E2D0;
  margin-right: -23%;
  transition: all 500ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.meal-card__check i {
  font-size: 30px;
  color: white;
}

@font-face {
  font-family: "Roboto";
  src: url("../../font/roboto/Roboto-Regular.ttf") format("truetype"), url("../../font/roboto/Roboto-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Shrikhand";
  src: url("../../font/Shrikhand-Regular.ttf") format("truetype");
}
h2,
h3,
p,
span,
.content-description {
  font-family: "Roboto", serif;
}

footer {
  color: white;
}
footer h2 {
  font-family: "Shrikhand", serif;
  border: none;
}

h1 {
  font-family: "Shrikhand", serif;
}

.proj-body h2 {
  border-bottom: solid 3px #99E2D0;
  width: 60px;
}

h3 {
  margin: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 500px;
  animation: disparition-body 0s 3s both;
}

.load__bar {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: linear-gradient(#9356DC, #FF79DA);
  animation: roller-bars 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 0px 100px;
}
.load__bar--1 {
  animation-delay: 100ms;
}
.load__bar--2 {
  animation-delay: 200ms;
}
.load__bar--3 {
  animation-delay: 300ms;
}
.load__bar--4 {
  animation-delay: 400ms;
}
.load__bar--5 {
  animation-delay: 500ms;
}
.load__bar--6 {
  animation-delay: 600ms;
}
.load__bar--7 {
  animation-delay: 700ms;
}
.load__bar--8 {
  animation-delay: 800ms;
}
.load__bar--9 {
  animation-delay: 900ms;
}
.load__bar--10 {
  animation-delay: 1000ms;
}

@keyframes roller-bars {
  0% {
    transform: rotate(0deg);
    opacity: 0.1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
@keyframes disparition-body {
  0% {
    transform: translatex(0px);
  }
  100% {
    transform: translatex(-9999999px);
  }
}
@keyframes heart {
  0% {
    transform: scaleY(0.6);
    opacity: 0.1;
  }
  46% {
    transform: scaleY(0.7);
    opacity: 0.2;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes heart-disappear {
  0% {
    opacity: 1;
  }
  46% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}
@keyframes apparition-body {
  0% {
    transform: translatex(-9999999px);
  }
  100% {
    transform: translatex(0px);
  }
}
@keyframes menus {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate-i {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (min-width: 992px) {
  .proj-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .proj-summary__btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 25px;
  }
  .proj-summary__btn .circle {
    position: relative;
    left: 10px;
  }
  .body-card {
    margin: 20px;
    width: 330px;
  }
  .menus {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .proj-summary__step {
    height: 100%;
    display: flex;
  }
  .proj-body__cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  footer .footer__description {
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }
  footer h2 {
    font-size: 50px;
    margin: 0px;
  }
  .content-description .content-description__logo {
    padding-right: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
