.body-menu__btn, .proj-body__btn, .proj-prev__btn {
  background-color: #9356DC;
  color: white;
  height: 40px;
  width: 33%;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.meal-cards__card {
  width: 90%;
  height: 75px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px 0px 0px 10px;
}
.meal-cards__card:hover {
  background-color: #9356DC;
  opacity: 0.3;
}
.meal-cards__card p {
  margin: 0px;
  padding: 0px;
}

.meal-card__description {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
}

.body-card {
  background-color: white;
  border-radius: 15px;
  margin-bottom: 20px;
}

.proj-summary__btn {
  width: 90%;
  height: 75px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0px 15px 15px;
}
.proj-summary__btn span {
  padding-right: 15px;
}
.proj-summary__btn:hover {
  background-color: #9356DC;
  opacity: 0.3;
}

.card-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0px;
}
.card-description .card-description__logo {
  height: 100%;
  padding-right: 25px;
}

.card-description__header {
  padding-left: 15px;
}
.card-description__header h3 {
  margin: 0px;
  font-weight: bolder;
}
.card-description__header h3 ~ p {
  margin-top: 0px;
}

.proj-body__cards {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.body-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

body {
  padding-left: 0px;
  margin: 0px;
}

.header_heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.header-location {
  display: flex;
  justify-content: center;
  height: 40px;
}
.header-location .header-location__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}
.header-location .header-location__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.proj-prev {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  font-display: auto;
}

.proj-prev__heading h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.proj-summary {
  padding: 10px 0px 10px 0px;
  height: 100%;
}

.proj-summary__step {
  height: 100%;
}

.proj-body {
  background-color: #f7f7f7;
  padding: 20px 0px 20px 20px;
}

footer {
  background-color: #353535;
  padding: 5px 0px 15px 15px;
}

.content-description {
  display: flex;
  padding-bottom: 5px;
}
.content-description .content-description__logo {
  padding-right: 10px;
  width: 2%;
}

.header_img img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.proj-body__heading {
  display: flex;
  justify-content: space-between;
}
.proj-body__heading .proj-body__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}

@font-face {
  font-family: "Roboto";
  src: url("../../font/roboto/Roboto-Regular.ttf") format("truetype"), url("../../font/roboto/Roboto-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Shrikhand";
  src: url("../../font/Shrikhand-Regular.ttf") format("truetype");
}
h2, p, span, .content-description {
  font-family: "Roboto", serif;
}

footer {
  color: white;
}
footer h2 {
  font-family: "Shrikhand", serif;
}

h1 {
  font-family: "Shrikhand", serif;
}

/*# sourceMappingURL=style.css.map */
