// ==============================
// BOUTONS DE TOUTES LES PAGES 
// ==============================
.body-menu__btn, .proj-body__btn, .proj-prev__btn
{
    display: block; 
    @include btn(white, $primary-color); 
    background-image: linear-gradient($primary-color, $secondary-color);
    &:hover{
        animation: transition-buttons 500ms forwards;
    }
}

// Transparance des boutons sur toutes les pages lors du survol 
@keyframes transition-buttons {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0.8; 
    }
}