// Texte: Roboto
@font-face {
    font-family: 'Roboto';
    src: url('../../font/roboto/Roboto-Regular.ttf') format('truetype'),
        url('../../font/roboto/Roboto-Black.ttf') format('truetype');
}

// Logo et titres: Shrikhand
@font-face {
    font-family: 'Shrikhand';
    src: url('../../font/Shrikhand-Regular.ttf') format('truetype');
}

h2,
h3,
p,
span,
.content-description,
.circle {
    font-family: 'Roboto', serif;
}

// footer commun entre les différentes pages 
footer {
    color: white;

    h2 {
        font-family: 'Shrikhand', serif;
        border: none;
    }
}

// titre des pages 
h1 {
    font-family: 'Shrikhand', serif;
}

// titres h2 pour les pages menus 
.proj-body {
    h2 {
        border-bottom: solid 3px $tertiary-background;
        width: 60px;
    }
}

// sous-titres des plats 
h3 {
    margin: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
}