// Bloc Pour faire apparaitre la page après le loading  
.after-loading {
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    z-index: 100;
    animation: apparition-body 0ms 3s both;
}

// ========================================
// BODY
// ========================================
body {
    padding-left: 0px;
    margin: 0px;
}

// ========================================
// HEADER 
// ========================================
.header-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    position: relative;
    z-index: 300;
}

.header-shadow {
    @include shadows-projet();
}

.header-location {
    z-index: 2;
    display: flex;
    background-color: $Header-background;
    justify-content: center;
    height: 40px;

    .header-location__logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 15px;
    }

    .header-location__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

// =======================================================
// Preview du projet =  informations générales + bouton explorer nos restaurants
// =======================================================
.proj-prev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $body-background;
    font-display: auto;
    padding-bottom: 50px;
}

.proj-prev__heading {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        text-align: center;
    }
}

.proj-prev__description {
    p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    padding-bottom: 20px;
}

// ========================================
// RECAPITULATIF / FONCTIONNEMENT 
// ========================================
// résumé du projet 
.proj-summary {
    padding: 15px;
    height: 100%;
}

.proj-summary__step {
    height: 100%;
}

// les cercles (1, 2, 3) du fonctionnement du projet 
.circle {
    position: absolute;
    height: 25px;
    width: 25px;
    left: 17px;
    background-color: $primary-color;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

// bouton du résumé / fonctionnement du projet 
.proj-summary__btn {
    display: flex;
    justify-content: flex-start;

    span {
        margin-left: 5px;
    }

    span i {
        margin-left: 25px;
    }
}

// ========================================
// ACCEUIL - RESTAURANT 
// ========================================
.homePage-body {
    background-color: $body-background;
    padding: 20px 0px 20px 20px;
}

// =====================================
// FOOTER 
// =====================================
footer {
    background-color: $footer-background;
    padding: 5px 0px 15px 15px;
}

.content-description {
    display: flex;
    padding-bottom: 5px;

    // lien vers le mail d'ohmyfood 
    a {
        text-decoration: none;
        color: white;
    }

    // les différents logos du footer 
    .content-description__logo {
        padding-right: 20px;
        width: 2%;
    }
}