// Bloc Pour faire apparaitre la page après le loading  
.after_loading
{
    position : absolute; 
    top: 0; 
    overflow: hidden;
    width: 100%;
    z-index: 100;
    animation: apparition-body 0ms 3s both;
}

@keyframes apparition-body {
    0% {
        transform: translatex(-9999999px);
    }

    100% {
        transform: translatex(0px);
    }
}

// ========================================
// BODY
// ========================================
body
{
    padding-left: 0px;
    margin: 0px;
}

// ========================================
// HEADER 
// ========================================
.header_heading 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    @include shadows-projet(); 
    position: relative;
    z-index: 300;
}

.header-location
{
    z-index: 2;
    display : flex; 
    background-color: $Header-background;
    justify-content: center;
    height: 40px;

    .header-location__logo
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 15px;
    }
    .header-location__description
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

// Preview du projet =  informations générales + bouton 
.proj-prev
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $body-background;
    font-display: auto;
    padding-bottom: 50px;
}

.proj-prev__heading
{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2{
        text-align: center;
    }
}

.proj-prev__description
{
    p{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    padding-bottom: 20px;
}

// ========================================
// RECAPITULATIF / FONCTIONNEMENT 
// ========================================
// résumé du projet 
.proj-summary
{
    padding: 10px 0px 10px 0px;
    height: 100%;
}

.proj-summary__step
{
    height: 100%;
} 

// ========================================
// ACCEUIL - RESTAURANT 
// ========================================
.homePage-body
{
    background-color: $body-background;
    padding: 20px 0px 20px 20px;
}

// =====================================
// FOOTER 
// =====================================
footer
{
    background-color: $footer-background;
    padding: 5px 0px 15px 15px;
}

.content-description{
    display: flex;
    padding-bottom: 5px;
    .content-description__logo
    {
        padding-right: 10px;
        width: 2%;
    }
}
