// Cardes pour le menu 
.meal-cards__card
{
    @include Cards_selection(75px); 
    padding: 10px 0px 0px 10px;
    animation: menus 1000ms backwards;
    // apparition avec un délai en fonction des occurences 
    @for $i from 1 through 4 {
        &--#{$i}{
            animation-delay: $animation-delay-time * $i;
        }
    }

    p{
        margin: 0px;
        padding: 0px;
    }
}


.meal-card__description
{
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
}
