@import "_variables.scss";

// mixin pour mettreen place les boutons d'ohmyfood
@mixin btn($colortypo : white, $backround : $primary-color) {
    background-color: $backround;
    color: $colortypo;
    width: 30%;
}

// changer la taille des images en fonction des pages  
@mixin image ($width-img : 50%, $height-img :50% ){
    width: $width-img;
    height: $height-img;   
}