@import "_variables.scss";

// mixin pour mettreen place les boutons d'ohmyfood
@mixin btn($colortypo : white, $backround : $primary-color) {
    color: $colortypo;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    border: none; 
    @include shadows-projet__btn(); 
    transition: 0.3s;
}

// changer la taille des images en fonction des pages  
@mixin image ($width-var : 50%, $height-var :50% ){
    width: $width-var;
    height: $height-var;   
    object-fit: cover;
    border-radius : 15px 15px 0px 0px;
}

// cardes qui sont utilisées partout sur l'application 
@mixin Cards_selection ($height-var :50%) {
    height: $height-var;   
    @include shadows-projet(); 
    transition: 0.3s;
    border-radius: 10px;
    margin-bottom: 10px;
}

// Ombres des éléments du projet  
@mixin shadows-projet{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

// Ombres des boutons 
@mixin shadows-projet__btn {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    &:hover{
        box-shadow: 0 14px 18px 0 rgba(0,0,0,0.2);
        animation: transition-shadow 3s both;
    }
}

@keyframes transition-shadow {
    0%{
        opacity: 0.1;
    }
    100%{
        opacity: 1; 
    }

}
