// couleurs des différents éléments du CSS
$primary-color : #9356DC;
$secondary-color : #FF79DA;
$tertiary-background : #99E2D0;  
$footer-background : #353535;  
$body-background : #f7f7f7; 
$Header-background : #eaeaea; 
$height-var: 50%; 
$animation-delay-time : 1000ms; 
$size : 3vh; 
$anim-dur : 1000ms;
$padding-cards : 15px; 